{% extends 'templateBase.html' %}
{% load static %}
{% block content %}


<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Usuário</th>
            <th scope="col">Nome Comleto</th>
            <th scope="col">Quantidade de receitas postadas</th>
        </tr>
    </thead>
    <tbody>
        {% for user in data_users %}

            <tr>
                <td>{{ user.user }}</td>
                <td>{{ user.full_name }}</td>
                <td>{{ user.qtd_recipe }}</td>
            </tr>

        {% endfor %}
    </tbody>
</table>

{% endblock %}